In [1]:
# 🔧 Importa as bibliotecas necessárias
import pandas as pd                                # Para trabalhar com tabelas
import requests                                    # Para fazer chamadas à API
import time                                        # Para controlar o tempo entre chamadas
from urllib.parse import quote_plus               # Para codificar nomes em URLs
from requests.exceptions import RequestException  # Para capturar erros da API
from unidecode import unidecode                   # Para remover acentos das cidades

# 📁 1. Leitura do arquivo CSV com os dados dos países
df = pd.read_csv("df_fato_pais.csv")  # Certifique-se de que o arquivo está no mesmo diretório do script

# 🧹 2. Filtra os dados válidos: capital e código do país (sigla de 2 letras como BR, US, etc.)
cidades_paises = [
    (row['capital'], row['nome_resumido'])
    for _, row in df.iterrows()
    if (
        pd.notna(row['capital']) and                      # Capital não pode ser ausente
        pd.notna(row['nome_resumido']) and                # Código do país também não
        row['capital'].strip().lower() != 'não informado' and
        row['capital'].strip() != ''                      # Capital não pode estar vazia
    )
]

# 🧼 3. Remove duplicatas, caso algum país tenha aparecido mais de uma vez
cidades_paises = list(set(cidades_paises))

# 🌡️ 4. Lista onde vamos guardar os dados climáticos coletados
dados_clima = []

# ❌ 5. Lista de capitais que falharam ao buscar o clima (útil para revisar depois)
capitais_falharam = []

# 🔑 6. Sua chave da API da OpenWeatherMap (você precisa se cadastrar no site deles para conseguir)
api_key = "e0b696d684ea5b8a15f7f141ca979bc3"  # <<<<<<<<<<<<<<< Substitua isso pela sua chave real

# 🔁 7. Loop para buscar o clima de cada cidade
for cidade_original, codigo_pais in cidades_paises:

    # 🔤 Remove acentos da cidade (ex: "Brasília" → "Brasilia")
    cidade_sem_acento = unidecode(cidade_original)

    # 🌐 Codifica para URL (ex: "San Jose" → "San+Jose")
    cidade_codificada = quote_plus(cidade_sem_acento)

    try:
        # 🔗 Monta os parâmetros para chamada da API
        url = "https://api.openweathermap.org/data/2.5/weather"
        params = {
            "q": f"{cidade_codificada},{codigo_pais}",  # Ex: "Brasilia,BR"
            "appid": api_key,
            "units": "metric",                          # Para temperatura em graus Celsius
            "lang": "pt_br"                             # Retorno em português
        }

        # 🌐 Chama a API com timeout de 10 segundos
        resposta = requests.get(url, params=params, timeout=10)
        resposta.raise_for_status()  # Se a resposta for erro (ex: 404), levanta exceção

        # 🔄 Converte a resposta JSON da API para um dicionário Python
        clima_info = resposta.json()

        # ✅ Salva os dados relevantes da resposta na lista
        dados_clima.append({
            "cidade": cidade_original,
            "codigo_pais": clima_info['sys']['country'],
            "temperatura": clima_info['main']['temp'],
            "sensacao_termica": clima_info['main']['feels_like'],
            "temperatura_min": clima_info['main']['temp_min'],
            "temperatura_max": clima_info['main']['temp_max'],
            "umidade": clima_info['main']['humidity'],
            "descricao_clima": clima_info['weather'][0]['description'],
            "horario_medicao": clima_info['dt']  # Timestamp do horário da medição
        })

    except RequestException as e:
        # ⚠️ Caso ocorra erro da API (ex: cidade não encontrada)
        print(f"[ERRO API] {cidade_original}, {codigo_pais}: {e}")
        capitais_falharam.append((cidade_original, codigo_pais))

    except Exception as e:
        # ⚠️ Qualquer outro erro inesperado
        print(f"[ERRO INESPERADO] {cidade_original}, {codigo_pais}: {e}")
        capitais_falharam.append((cidade_original, codigo_pais))

    # ⏱️ Espera 1 segundo para não ultrapassar limite da API
    time.sleep(1)

# 📊 8. Converte a lista de dados em uma tabela
df_clima = pd.DataFrame(dados_clima)

# 🖨️ 9. Mostra os dados climáticos coletados
print("\n📋 Dados coletados:")
print(df_clima)

# ❗ 10. Exibe as capitais que não foram encontradas
print("\n❌ Capitais com erro:")
for cidade, pais in capitais_falharam:
    print(f" - {cidade} ({pais})")

# 💾 11. (Opcional) Salva os dados em arquivos CSV
df_clima.to_csv("df_clima_capitais.csv", index=False)
pd.DataFrame(capitais_falharam, columns=["cidade", "codigo_pais"]).to_csv("df_falhas_clima.csv", index=False)

[ERRO API] Kuala Lumpur, MY: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Kuala%2BLumpur%2CMY&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Road Town, VG: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Road%2BTown%2CVG&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Saint Helier, JE: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Saint%2BHelier%2CJE&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Mexico City, MX: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Mexico%2BCity%2CMX&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Port Louis, MU: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Port%2BLouis%2CMU&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Saint John's, AG: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Saint%2BJohn%2527s%2CAG&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] City of Victoria, HK: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=City%2Bof%2BVictoria%2CHK&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Vatican City, VA: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Vatican%2BCity%2CVA&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Bandar Seri Begawan, BN: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Bandar%2BSeri%2BBegawan%2CBN&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] George Town, KY: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=George%2BTown%2CKY&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] West Island, CC: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=West%2BIsland%2CCC&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] San José, CR: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=San%2BJose%2CCR&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Andorra la Vella, AD: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Andorra%2Bla%2BVella%2CAD&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Port Vila, VU: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Port%2BVila%2CVU&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] City of San Marino, SM: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=City%2Bof%2BSan%2BMarino%2CSM&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] St. Peter Port, GG: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=St.%2BPeter%2BPort%2CGG&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Kuwait City, KW: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Kuwait%2BCity%2CKW&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] New Delhi, IN: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=New%2BDelhi%2CIN&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Ulan Bator, MN: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Ulan%2BBator%2CMN&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Fakaofo, TK: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Fakaofo%2CTK&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] N'Djamena, TD: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=N%2527Djamena%2CTD&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Buenos Aires, AR: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Buenos%2BAires%2CAR&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Washington DC, UM: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Washington%2BDC%2CUM&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Nuku'alofa, TO: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Nuku%2527alofa%2CTO&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] South Tarawa, KI: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=South%2BTarawa%2CKI&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Abu Dhabi, AE: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Abu%2BDhabi%2CAE&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Pago Pago, AS: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Pago%2BPago%2CAS&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Cockburn Town, TC: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Cockburn%2BTown%2CTC&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Ngerulmud, PW: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Ngerulmud%2CPW&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Guatemala City, GT: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Guatemala%2BCity%2CGT&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] São Tomé, ST: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Sao%2BTome%2CST&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Port of Spain, TT: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Port%2Bof%2BSpain%2CTT&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Flying Fish Cove, CX: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Flying%2BFish%2BCove%2CCX&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Washington, D.C., US: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Washington%252C%2BD.C.%2CUS&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Panama City, PA: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Panama%2BCity%2CPA&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Charlotte Amalie, VI: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Charlotte%2BAmalie%2CVI&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Addis Ababa, ET: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Addis%2BAbaba%2CET&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Phnom Penh, KH: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Phnom%2BPenh%2CKH&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Sana'a, YE: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Sana%2527a%2CYE&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Sri Jayawardenepura Kotte, LK: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Sri%2BJayawardenepura%2BKotte%2CLK&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] San Salvador, SV: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=San%2BSalvador%2CSV&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Port Moresby, PG: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Port%2BMoresby%2CPG&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] St. George's, GD: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=St.%2BGeorge%2527s%2CGD&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Diego Garcia, IO: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Diego%2BGarcia%2CIO&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] El Aaiún, EH: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=El%2BAaiun%2CEH&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] Santo Domingo, DO: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=Santo%2BDomingo%2CDO&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] King Edward Point, GS: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=King%2BEdward%2BPoint%2CGS&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] San Juan, PR: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=San%2BJuan%2CPR&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br
[ERRO API] The Valley, AI: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?q=The%2BValley%2CAI&appid=e0b696d684ea5b8a15f7f141ca979bc3&units=metric&lang=pt_br

📋 Dados coletados:
                cidade codigo_pais  temperatura  sensacao_termica  \
0            Stockholm          SE         5.94              5.94
1                Seoul          KR        16.76             17.10
2               Majuro          MH        30.98             37.55
3                Rabat          MA        18.04             18.51
4             Plymouth          MS        27.23             30.05
..                 ...         ...          ...               ...
191             Vienna          AT        12.63             12.32
192  Port-aux-Français          TF         1.94             -3.64
193          Kingstown          VC        28.60             33.46
194           Monrovia          LR        25.02             25.88
195           Tashkent          UZ        19.97             18.99

     temperatura_min  temperatura_max  umidade            descricao_clima  \
0               5.86             8.36       98           nuvens dispersas
1              16.76            16.78      100                      névoa
2              29.98            30.98       70                 chuva leve
3              18.04            18.04      100           nuvens dispersas
4              27.23            27.23       78                 chuva leve
..               ...              ...      ...                        ...
191            11.47            13.82       91  garoa de leve intensidade
192             1.94             1.94       66                    nublado
193            28.60            28.60       79             algumas nuvens
194            25.02            25.02       88                 chuva leve
195            19.97            19.97       37                     fumaça

     horario_medicao
0         1758838314
1         1758838456
2         1758838524
3         1758838525
4         1758838531
..               ...
191       1758838864
192       1758838865
193       1758838598
194       1758838727
195       1758838871

[196 rows x 9 columns]

❌ Capitais com erro:
 - Kuala Lumpur (MY)
 - Road Town (VG)
 - Saint Helier (JE)
 - Mexico City (MX)
 - Port Louis (MU)
 - Saint John's (AG)
 - City of Victoria (HK)
 - Vatican City (VA)
 - Bandar Seri Begawan (BN)
 - George Town (KY)
 - West Island (CC)
 - San José (CR)
 - Andorra la Vella (AD)
 - Port Vila (VU)
 - City of San Marino (SM)
 - St. Peter Port (GG)
 - Kuwait City (KW)
 - New Delhi (IN)
 - Ulan Bator (MN)
 - Fakaofo (TK)
 - N'Djamena (TD)
 - Buenos Aires (AR)
 - Washington DC (UM)
 - Nuku'alofa (TO)
 - South Tarawa (KI)
 - Abu Dhabi (AE)
 - Pago Pago (AS)
 - Cockburn Town (TC)
 - Ngerulmud (PW)
 - Guatemala City (GT)
 - São Tomé (ST)
 - Port of Spain (TT)
 - Flying Fish Cove (CX)
 - Washington, D.C. (US)
 - Panama City (PA)
 - Charlotte Amalie (VI)
 - Addis Ababa (ET)
 - Phnom Penh (KH)
 - Sana'a (YE)
 - Sri Jayawardenepura Kotte (LK)
 - San Salvador (SV)
 - Port Moresby (PG)
 - St. George's (GD)
 - Diego Garcia (IO)
 - El Aaiún (EH)
 - Santo Domingo (DO)
 - King Edward Point (GS)
 - San Juan (PR)
 - The Valley (AI)

In [2]:

display(df_clima)

,cidade,codigo_pais,temperatura,sensacao_termica,temperatura_min,temperatura_max,umidade,descricao_clima,horario_medicao
0,Stockholm,SE,5.94,5.94,5.86,8.36,98,nuvens dispersas,1758838314
1,Seoul,KR,16.76,17.10,16.76,16.78,100,névoa,1758838456
2,Majuro,MH,30.98,37.55,29.98,30.98,70,chuva leve,1758838524
3,Rabat,MA,18.04,18.51,18.04,18.04,100,nuvens dispersas,1758838525
4,Plymouth,MS,27.23,30.05,27.23,27.23,78,chuva leve,1758838531
...,...,...,...,...,...,...,...,...,...
191,Vienna,AT,12.63,12.32,11.47,13.82,91,garoa de leve intensidade,1758838864
192,Port-aux-Français,TF,1.94,-3.64,1.94,1.94,66,nublado,1758838865
193,Kingstown,VC,28.60,33.46,28.60,28.60,79,algumas nuvens,1758838598
194,Monrovia,LR,25.02,25.88,25.02,25.02,88,chuva leve,1758838727
195,Tashkent,UZ,19.97,18.99,19.97,19.97,37,fumaça,1758838871

In [3]:
from pandasql import sqldf

# Define uma função para executar consultas SQL
pysqldf = lambda q: sqldf(q, globals())

In [4]:
consultaSQL = """

SELECT * FROM df_clima 
--where codigo_pais = "AR"

"""

resultado = pysqldf(consultaSQL)
display(resultado)

,cidade,codigo_pais,temperatura,sensacao_termica,temperatura_min,temperatura_max,umidade,descricao_clima,horario_medicao
0,Stockholm,SE,5.94,5.94,5.86,8.36,98,nuvens dispersas,1758838314
1,Seoul,KR,16.76,17.10,16.76,16.78,100,névoa,1758838456
2,Majuro,MH,30.98,37.55,29.98,30.98,70,chuva leve,1758838524
3,Rabat,MA,18.04,18.51,18.04,18.04,100,nuvens dispersas,1758838525
4,Plymouth,MS,27.23,30.05,27.23,27.23,78,chuva leve,1758838531
...,...,...,...,...,...,...,...,...,...
191,Vienna,AT,12.63,12.32,11.47,13.82,91,garoa de leve intensidade,1758838864
192,Port-aux-Français,TF,1.94,-3.64,1.94,1.94,66,nublado,1758838865
193,Kingstown,VC,28.60,33.46,28.60,28.60,79,algumas nuvens,1758838598
194,Monrovia,LR,25.02,25.88,25.02,25.02,88,chuva leve,1758838727
195,Tashkent,UZ,19.97,18.99,19.97,19.97,37,fumaça,1758838871

In [5]:
resultado['horario_medicao'] = pd.to_datetime(resultado['horario_medicao'], unit='s').dt.strftime('%d/%m/%Y %H:%M:%S')

In [6]:
display(resultado)

,cidade,codigo_pais,temperatura,sensacao_termica,temperatura_min,temperatura_max,umidade,descricao_clima,horario_medicao
0,Stockholm,SE,5.94,5.94,5.86,8.36,98,nuvens dispersas,25/09/2025 22:11:54
1,Seoul,KR,16.76,17.10,16.76,16.78,100,névoa,25/09/2025 22:14:16
2,Majuro,MH,30.98,37.55,29.98,30.98,70,chuva leve,25/09/2025 22:15:24
3,Rabat,MA,18.04,18.51,18.04,18.04,100,nuvens dispersas,25/09/2025 22:15:25
4,Plymouth,MS,27.23,30.05,27.23,27.23,78,chuva leve,25/09/2025 22:15:31
...,...,...,...,...,...,...,...,...,...
191,Vienna,AT,12.63,12.32,11.47,13.82,91,garoa de leve intensidade,25/09/2025 22:21:04
192,Port-aux-Français,TF,1.94,-3.64,1.94,1.94,66,nublado,25/09/2025 22:21:05
193,Kingstown,VC,28.60,33.46,28.60,28.60,79,algumas nuvens,25/09/2025 22:16:38
194,Monrovia,LR,25.02,25.88,25.02,25.02,88,chuva leve,25/09/2025 22:18:47
195,Tashkent,UZ,19.97,18.99,19.97,19.97,37,fumaça,25/09/2025 22:21:11

In [7]:
df_export = pd.DataFrame(resultado)  # Dados dim pais
df_export.to_csv("df_dim_tempo_capital.csv", index=False)

In [8]:
# ==========================================================
# Importando bibliotecas necessárias
# ==========================================================
import os
from sqlalchemy import create_engine
from dotenv import load_dotenv, find_dotenv

# Carrega as variáveis de ambiente a partir do arquivo .env
load_dotenv(find_dotenv())

# ==========================================================
# Definindo as credenciais do banco (Render)
# ==========================================================
host = os.getenv("HOST")
port = int(os.getenv("PORT"))
database = os.getenv("DATABASE")
user = os.getenv("USER")
password = os.getenv("PASSWORD")

# ==========================================================
# Criando a conexão com o PostgreSQL usando SQLAlchemy
# ==========================================================
engine = create_engine(
    f"postgresql://{user}:{password}@{host}:{port}/{database}"
)


# ==========================================================
# Salvando no banco (tabela: clima)
# if_exists:
#   - 'replace' -> apaga e recria a tabela
#   - 'append' -> adiciona os dados
# ==========================================================
df_export.to_sql("tbl_clima_capital_pais", engine, if_exists="replace", index=False)

print("✅ Dados salvos no banco Render com sucesso!")

✅ Dados salvos no banco Render com sucesso!

In [9]:
import psycopg2

# Parâmetros de conexão
dbname   = 'projeto_paises'
user     = 'postgres'
password = '252500'
host     = 'localhost'
port     = '5432' 

# Criar uma conexão
conn = psycopg2.connect(dbname=dbname,
                        user=user,
                        password=password,
                        host=host,
                        port=port)


cur = conn.cursor()# Criar um cursor  deixa manipular os dados
#cur.execute("DELETE FROM TBL_CLIMA_CAPITAL_PAIS")

for indice, colunas_df in resultado.iterrows():
        cur.execute('''                                
                insert into TBL_CLIMA_CAPITAL_PAIS (   
                 cidade,
                 codigo_pais,
                 temperatura,
                 sensacao_termica,
                 temperatura_min,
                 temperatura_max,
                 umidade,
                 descricao_clima,
                 horario_medicao)
                 VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)
                        ''',
        (
        colunas_df["cidade"],
        colunas_df["codigo_pais"],
        colunas_df["temperatura"],
        colunas_df["sensacao_termica"],
        colunas_df["temperatura_min"],
        colunas_df["temperatura_max"],
        colunas_df["umidade"],
        colunas_df["descricao_clima"],
        colunas_df["horario_medicao"]
        )
        )

#comandos sql transct-sql
conn.commit() # validar alterações que agente fez  e subir para o banco de dados 

# Fechar o cursor e a conexão
cur.close()
conn.close()